<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 pages-action">
      <button id="create" type="button" class="btn btn-primary save">Create</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Title</th>
          <th>Body</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">About Me</a></td>
            <td>Bons Rapazes (2016), oil on canvas, 100cm x 80cm</td>
          </tr>
          <tr>
            <td><a href="#">About Me</a></td>
            <td>Bons Rapazes (2016), oil on canvas, 100cm x 80cm</td>
          </tr>
          <tr>
            <td><a href="#">About Me</a></td>
            <td>Bons Rapazes (2016), oil on canvas, 100cm x 80cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
