<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 pages-action">
      <button id="create" type="button" class="btn btn-primary save">Create</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#"><img class="art-image" src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-0/s552x414/14925559_1142909819077573_942091140030125611_n.jpg?oh=4308a2307139933b381485f75159befd&oe=592A17B9"></a></td>
            <td>BONS RAPAZES</td>
            <td>Bons Rapazes (2016), oil on canvas, 100cm x 80cm</td>
          </tr>
          <tr>
            <td><a href="#"><img class="art-image" src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-9/16996248_1265533916815162_105087874472590889_n.jpg?oh=031d7550a6a8f60114776d3fc222b635&oe=5928AF92"></a></td>
            <td>ANTONIETA</td>
            <td>Antonieta (2017), oil on canvas, 40x50cm</td>
          </tr>
          <tr>
            <td><a href="#"><img class="art-image" src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-0/s526x395/16831833_1253039108064643_1884372184794426651_n.jpg?oh=39cdd76981a60a9dc83337036ba77d42&oe=592DF5D0"></a></td>
            <td>BONS RAPAZES</td>
            <td>Mulher ao espelho (2017), oil on canvas, 100x80cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
