<div id="content" className="portfolio-area ptb-90">
</div>

<script src="/javascripts/components/js/menu.js"></script>
<script src="/javascripts/components/js/works.js"></script>
<script src="/javascripts/components/js/page.js"></script>
<script src="/javascripts/components/js/contact.js"></script>
<script type="text/javascript">

var body = React.createClass({displayName: 'body',
  getInitialState: function() {
		var data  = <%= @data.to_json.html_safe %>;
		return {
    tab: 'work',
		works: data.works,
		pages: data.pages
		};
	},
  changetab: function(text) {
    this.setState({tab: text});
  },
  render: function() {
    switch (this.state.tab) {
      case 'work':
        var content =   React.createElement(Works, {works: this.state.works});
        break;
        case 'contact':
        var content =   React.createElement(Contact, null);
        break;
      default:
        index = getPage(this.state.pages, this.state.tab);
        var content = React.createElement(Page,{page: this.state.pages[index]});
    }
    return(
      React.createElement('div',{className: "container"},
        React.createElement(Menu, {pages: this.state.pages, tab: this.state.tab, changetab: this.changetab}),
        content
      )
    );
  }
});
var index = ReactDOM.render(React.createElement(body, null), document.getElementById('content'));

function getPage(pages, title) {
  for(var i=0; i < pages.length; i++) {
    if(pages[i].title == title) {
      return i;
    }
  }
  return -1;
}
</script>
